.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/SystemInfoBackground.png");
  background-size: cover;

  .Info {
    position: relative;
    display: flex;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 280px;

    padding-bottom: 80px;

    .Items {
      width: 100%;
      height: 100%;
      margin: 10px;
      background: rgba(255, 255, 255, 0.75);
      border-radius: 15px;
      padding: 20px 20px 20px 20px;

      .Title {
        display: flex;

        .Icons {
          width: 64px;
          height: 64px;

          background: rgba(31, 103, 250, 0.75);
          border-radius: 15px;

          img {
            width: 56px;
            height: 56px;

            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .SubTitle {
        padding-top: 10px;
      }

      .Usage {
        display: flex;
        justify-content: flex-end;
        padding-top: 30px;
      }

      .UsageBar {
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;

        .Bar {
          .BarText {
            padding-left: 50px;
          }

          .UseBar {
            background-color: rgba(44, 172, 255, 1);
            height: 5px;
          }

          .FreeBar {
            background-color: rgba(44, 172, 255, 0.5);
            height: 5px;
          }
        }
      }

      .Detail {
        display: flex;
        width: 100%;
        height: 40px;

        padding-top: 20px;

        .DetailItems {
          height: 100%;
          width: 100%;
          margin-left: 5px;
          margin-right: 5px;
          border-radius: 15px;

          background-color: rgba(44, 172, 255, 1);
        }
      }
    }
  }
}